<div class="post-wrap archive">
  <h2 class="post-title">归档</h2>
  <% var last_year='' ; %>
  <% page.posts.each(function (post) { %>
  <% var cur_year=post.date.year(); %>

  <% if(last_year !==cur_year){ %>
  <!-- <h3><%- cur_year %></h3> -->
  <% last_year=cur_year; } %>

  <article class="archive-item">
    <a class="archive-item-link" href="<%- url_for(post.path) %>">
      <%= post.title %>
    </a>
    <!-- <span class="archive-item-date"><%- date(post.date, theme.date_format) %></span> -->
  </article>
  <% }) %>
  <div style="text-align: right; min-width: 50px;">
    <a href="javascript:window.history.back();"> ← 返回</a>
  </div>
  <%- partial('_partial/paginator') %>
</div>